<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.explore.shopping.dao.UserDao">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.netease.explore.shopping.domain.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        name
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO user (
            id,
            name
        ) VALUES (
            #{user.id,jdbcType=VARCHAR},
            #{user.name,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null"> id,</if>
            <if test="user.name!=null"> name,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null">#{user.id,jdbcType=VARCHAR},
            </if>
            <if test="user.name!=null">#{user.name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user (
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (
            #{user.id,jdbcType=VARCHAR},
            #{user.name,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE user
        <set>
            <if test="user.id != null"> id= #{user.id,jdbcType=VARCHAR},</if>
            <if test="user.name != null"> name= #{user.name,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{user.id,jdbcType=VARCHAR}
    </update>

<!--auto generated by codehelper on 2018-10-03-->
	<select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id=#{id,jdbcType=VARCHAR}
    </select>
</mapper>

